* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
}

.home {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.content {
  width: 70%;
  color: white;
}

.content h1 {
  font-size: 1.50rem;
  margin-bottom: 2rem;
}

.search-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-row input {
  padding: 0.6rem;
  width: 250px;
}

.search-row button {
  padding: 0.6rem 1.2rem;
  background: white;
  border: none;
  cursor: pointer;
  color: black;
}

.search-row select {
  padding: 0.6rem;
}

.main-box {
  display: flex;
  gap: 2rem;
}

.plant-card {
  background: rgba(0,0,0,0.6);
  padding: 1rem;
  width: 220px;
  text-align: center;
}

.plant-card img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.info-box {
  background: rgba(0,0,0,0.6);
  border: 2px solid black;
  padding: 2rem;
  width: 350px;
}

.info-box ul {
  list-style: disc;
  margin-left: 1.2rem;
}

.side-logo {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.languages {
  color: white;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
}

.language-switcher {
  position: relative;
  width: 60px;
  height: 40px;
}

.globe {
  font-size: 3rem;
  cursor: pointer;
  z-index: 2;
  position: relative;
  text-align:end;
}

/* Lingue base */
.lang {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  color: white;
}

/* ATTIVE SOLO QUANDO open */
.language-switcher.open .lang {
  opacity: 1;
  pointer-events: auto;
}

/* POSIZIONI */

/* In alto */
.top.deu {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.top.ita {
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

/* A sinistra */
.left.ing {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.left.jap {
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  overflow-y: auto;
}
